.game-window {
    height: 600px;
    width: 800px;
    margin: 20px auto;
    background-color: #ddd;
    position: relative;
}

.start-screen {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 150px;
}

.start-screen button {
    margin-top: 100px;
}

.stats-section {
    float: left;
    margin-left: 20px;
}

.image-row {
    clear: left;
    text-align: center;
}

.image-row h4 {
    margin-bottom: 5px;
}

.image-row img {
    width: 100px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.image-frame {
    display: inline-block;
}

.image-frame p {
    margin-top: 5px;
}

.map {
    width: 600px;
    height: 600px;
}

.cell {
    height: 30px;
    width: 30px;
    float: left;
    line-height: 0px;
    box-sizing: border-box;
    border: 1px solid #333;
    background-color: #fff;
}

.obstacle {
    background-color: #ccc;
}

.p1 {
    background-color: #f00;
}

.p2 {
    background-color: #393CE6;
}

.game-screen button {
    float: right;
}